---
import Fondo from '../../components/Fondo.astro';
import Layout from '../../layouts/Layout.astro';
import { HTTP_STATUS_CODES } from '../../data/code';
import { getHttpCode } from '../../services/httpCodes';
import InfoCard from '../../components/InfoCard.astro';
import CodeBlocks from '../../components/CodeBlocks.astro';
import type { HttpCode, HttpExample } from '../../types';
import SectionCard from '../../components/SectionCard.astro';

export function getStaticPaths() {
	const paths = HTTP_STATUS_CODES.map(status => ({
		params: { code: status.code.toString() }
	}));

	return paths;
}

const { code } = Astro.params;

const data = (await getHttpCode(code)) as HttpCode;
---

<Layout title={`Código ${code}`} descripcion={`Pagina para mostrar el código ${code}`}>
	<Fondo>
		<!-- HERO -->
		<section class="relative w-full overflow-hidden">
			{
				data.images?.[0]?.imageCover && (
					<img
						src={data.images[0].imageCover}
						alt={data.images[0].alt}
						class="absolute inset-0 h-full w-full object-cover opacity-40"
						transition:name={`${code}-cover`}
					/>
				)
			}
			<div class="absolute inset-0 z-10 h-full w-full bg-linear-to-t from-black to-transparent to-25% object-cover"></div>

			<div class="relative z-20 mx-auto w-full max-w-6xl items-center gap-10 px-6 py-24">
				<div class="flex min-h-[90dvh] flex-col items-center justify-center"></div>
			</div>
		</section>
		<!-- CONTENT -->
		<section class="mx-auto max-w-7xl space-y-20 px-6 py-16">
			<!-- DESCRIPTION -->
			<SectionCard title="Descripcion">
				<div class="border-slate-70 rounded-xl border border-slate-700 bg-black/30 p-5">
					{
						data.description.split('. ').map((sentence, i) => (
							<p class="mb-4 text-slate-300">
								{sentence}.
								<br />
							</p>
						))
					}
				</div>
			</SectionCard>

			<!-- META -->
			<SectionCard title="Caracteristicas">
				<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
					<InfoCard title="Category" value={data.category} />
					<InfoCard title="HTTP Version" value={data.httpVersion} />
					<InfoCard title="Specification" value={data.specification} />
					{data.relatedCodes && <InfoCard title="Related Codes" value={data.relatedCodes.join(', ')} />}
				</div>
			</SectionCard>

			<!-- USE CASES -->
			<SectionCard title="Casos de uso">
				<ul class="grid gap-8 sm:grid-cols-3">
					{data.useCases.map((useCase: string) => <li class="border-slate-70 rounded-xl border border-slate-700 bg-black/30 p-5">{useCase}</li>)}
				</ul>
			</SectionCard>

			<!-- EXAMPLES -->
			<SectionCard title="Ejemplos">
				<div class="space-y-12">
					{
						data.examples.map((example: HttpExample) => (
							<div class="border-slate-70 rounded-xl border border-slate-700 bg-black/30 p-2">
								<div class="p-6">
									<h3 class="mb-2 text-xl font-semibold">{example.scenario}</h3>
									<p class="text-slate-400">{example.explanation}</p>
								</div>

								<CodeBlocks title="Request" content={example.request} />
								<CodeBlocks title="Response" content={example.response} />
							</div>
						))
					}
				</div>
			</SectionCard>

			<!-- TECHNICAL NOTES -->
			{
				data.technicalNotes && (
					<SectionCard title="Notas técnicas">
						<div class="rounded-xl border border-slate-700 bg-slate-800/60 p-6 text-slate-300">{data.technicalNotes}</div>
					</SectionCard>
				)
			}
		</section>
	</Fondo>
</Layout>
