---
import { getImageResource } from '../../adapters/ImageResoruce';
import Fondo from '../../components/landing/Fondo.astro';
import CasosUsosCode from '../../components/sections/detailCode/CasosUsosCode.astro';
import DeltaFormat from '../../components/sections/detailCode/DeltaFormat.astro';
import DescripcionCode from '../../components/sections/detailCode/DescripcionCode.astro';
import ExamplesCode from '../../components/sections/detailCode/ExamplesCode.astro';
import Header from '../../components/sections/detailCode/Header.astro';
import HeaderFormato from '../../components/sections/detailCode/HeaderFormato.astro';
import MetaDataCode from '../../components/sections/detailCode/MetaDataCode.astro';
import NotasTecnicas from '../../components/sections/detailCode/NotasTecnicas.astro';
import RelatedCodes from '../../components/sections/detailCode/RelatedCodes.astro';
import { HTTP_STATUS_CODES } from '../../data/code';
import Layout from '../../layouts/Layout.astro';
import { getHttpCode } from '../../services/httpCodes';
import type { HttpCode, HttpImage } from '../../types';

export function getStaticPaths() {
	const paths = HTTP_STATUS_CODES.map(status => ({
		params: { code: status.code.toString() }
	}));

	return paths;
}

const { code } = Astro.params;

const data = (await getHttpCode(code)) as HttpCode;

const { coverImage, coverImageAlt } = getImageResource(data.images as HttpImage[]);
---

<Layout title={`Código ${code}`} descripcion={`Pagina para mostrar el código ${code}`}>
	<Fondo>
		<!-- HERO -->
		<Header cover={coverImage} alt={coverImageAlt} code={code} />

		<!-- CONTENT -->
		<section class="mx-auto max-w-7xl space-y-20 px-6 py-16">
			<!-- DESCRIPTION -->
			<DescripcionCode description={data.description} />

			<!-- META -->
			<MetaDataCode category={data.category} httpVersion={data.httpVersion} specification={data.specification} relatedCodes={data.relatedCodes} />

			<!-- USE CASES -->
			<CasosUsosCode useCases={data.useCases} />

			<!-- RELATED CODES -->
			<RelatedCodes relatedCodes={data.relatedCodes} />

			<!-- HEADER FORMAT -->
			<HeaderFormato headerFormat={data.headerFormat} />

			<!-- DELTA FORMAT -->
			<DeltaFormat DeltaFormato={data.deltaFormats} />

			<!-- EXAMPLES -->
			<ExamplesCode examples={data.examples} />

			<!-- TECHNICAL NOTES -->
			<NotasTecnicas technicalNotes={data.technicalNotes} />
		</section>
	</Fondo>
</Layout>
