---
import '../styles/cardAnimada.css';

interface CardAnimadaProps {
	title: string;
	description: string;
	image_cover: string;
	image_logo: string;
	image_character: string;
	link: string;
}

const dataCard = Astro.props as CardAnimadaProps; // type
const { title, image_cover, image_logo, image_character } = dataCard;

console.log({ data: image_cover });
---

<article class="card">
	<div class="wrapper">
		<img src={image_cover} alt={title} class="cover-image" />
	</div>

	<img src={image_logo} alt={title} class="logo" />

	<img src={image_character} alt={title} class="character" />
</article>
