---
import '../../styles/cardAnimada.css';
import type { CardAnimadaProps } from '../../types/components';

const dataCard = Astro.props as CardAnimadaProps; // type
const { imageCharacter, imageCharacterAlt, imageCover, imageCoverAlt, image_logo, link, code } = dataCard;
---

<a href={link} class="">
	<article class="card">
		<div class="wrapper">
			<div class="title z-10 bg-sky-700">
				<h2 class="absolute top-4 right-8 z-30 text-2xl font-bold">{code}</h2>
			</div>
			<img src={imageCover} alt={imageCoverAlt} class="cover-image" transition:name={`${code}-cover`} />
		</div>

		<img src={image_logo} alt={"Imagen que dice la palabra 'Code'"} class="logo" />

		<div class="container-character relative h-30 w-60 overflow-hidden">
			<img src={imageCharacter} alt={imageCharacterAlt} class="character" />
		</div>
	</article>
</a>
