---
import type { HttpCode } from '../../../types';
import CardAnimada from '../../atomos/CardAnimada.astro';
import TitleSection from '../../atomos/TitleSection.astro';

const { data } = Astro.props as { data: HttpCode[] };
---

<section class="max-w-8xl relative mx-auto flex min-h-screen flex-col items-center">
	<!-- HEADER -->
	<header class="mb-30 w-full max-w-5xl px-6 pt-4 text-center">
		<TitleSection text="HTTP Status Codes" align="center" size="text-6xl" delay="animate-delay-100" />
		<p class="mx-auto mt-6 max-w-3xl text-lg text-slate-400">
			Explora los c贸digos de estado HTTP y entiende c贸mo los servidores responden a las solicitudes web. Busca por n煤mero o nombre para encontrar
			r谩pidamente el c贸digo que necesitas.
		</p>

		<!-- SEARCH -->
		<form class="relative mx-auto mt-10 max-w-xl">
			<input
				id="search-input"
				type="search"
				placeholder="Buscar por c贸digo (404) o nombre (Not Found)"
				class="w-full rounded-xl border border-slate-700 bg-slate-800/80 px-5 py-3 pr-12 text-slate-100 placeholder-slate-400 focus:ring-2 focus:ring-blue-500 focus:outline-none"
			/>
			<span class="absolute top-1/2 right-4 -translate-y-1/2 text-slate-400"></span>
		</form>
	</header>

	<!-- GRID -->
	<div id="codes-grid" class="flex flex-wrap justify-center gap-x-20 gap-y-16 px-6">
		{
			data.map(code => (
				<div class="http-card" data-code={code.code} data-status={code.status.toLowerCase()}>
					<CardAnimada
						description={code.description}
						image_cover={{
							imageCover: code.images?.[0]?.imageCover,
							alt: code.images?.[0]?.alt
						}}
						image_logo={'https://res.cloudinary.com/dovznesem/image/upload/v1768586804/404__2_-removebg-preview_cgkkr5.png'}
						image_character={{
							imageCharacter: code.images?.[1]?.imageCharacter,
							alt: code.images?.[1]?.alt
						}}
						link={`code/${code.code}`}
						code={code.code}
					/>
				</div>
			))
		}
	</div>

	<p id="no-results" class="mt-20 hidden text-center text-lg text-slate-400">No se encontr贸 ning煤n c贸digo que coincida con tu b煤squeda.</p>
</section>

<script>
	const input = document.getElementById('search-input') as HTMLInputElement;
	const cards = document.querySelectorAll('.http-card') as NodeListOf<HTMLDivElement>;
	const noResults = document.getElementById('no-results') as HTMLParagraphElement;

	if (!input) return;
	input.addEventListener('input', e => {
		e.preventDefault();
		const value = input.value.toLowerCase();
		let visible = 0;

		cards.forEach(card => {
			const code = card.dataset.code;
			const status = card.dataset.status;

			if (!value) {
				card.classList.remove('hidden');
				visible++;
				return;
			}

			if (code?.includes(value) || status?.includes(value)) {
				card.classList.remove('hidden');
				visible++;
			} else {
				card.classList.add('hidden');
			}
		});

		if (visible === 0) {
			noResults.classList.remove('hidden');
		} else {
			noResults.classList.add('hidden');
		}
	});
</script>
