---
import { getImageResource } from '../../../adapters/ImageResoruce';
import type { HttpCode, HttpImage } from '../../../types';
import CardAnimada from '../../atomos/CardAnimada.astro';

interface SectionCardsProps {
	data: HttpCode[];
	URL_LOGO: string;
	PAGE_SIZE: number;
}

const { data, URL_LOGO, PAGE_SIZE } = Astro.props as SectionCardsProps;
---

<div id="codes-grid" class="mb-25 flex flex-wrap justify-center gap-x-20 gap-y-16 px-6">
	{
		data.slice(0, PAGE_SIZE).map((code: HttpCode) => {
			console.log({ code: code.images });
			const { coverImage, coverImageAlt, characterImage, characterImageAlt } = getImageResource(code.images as HttpImage[]);

			console.log({ coverImage });

			return (
				<div class="http-card" data-code={code.code} data-status={code.status.toLowerCase()}>
					<CardAnimada
						description={code.description}
						imageCover={coverImage}
						imageCoverAlt={coverImageAlt}
						imageCharacter={characterImage}
						imageCharacterAlt={characterImageAlt}
						link={`code/${code.code}`}
						code={code.code}
						image_logo={URL_LOGO}
					/>
				</div>
			);
		})
	}
</div>
